@using Microsoft.Extensions.Logging
@using DegreeClassEstimator.Model
@using DegreeClassEstimator.Web

@inject ILogger<AddModule> Logger;

<div class="card mb-3">
    <div class="card-header card-header-theme">
        <h4 class="card-title strong mt-2">Add Modules</h4>
    </div>

    <div class="card-body">
        <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <div class="mb-3 row">
                <label for="@newModule.Code" class="col-sm-3 col-form-label">Code</label>
                <div class="col-sm-9">
                    <InputText class="form-control" @bind-Value="newModule.Code" />
                    <ValidationMessage For="@(() => newModule.Code)" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@newModule.Credits" class="col-sm-3 col-form-label">Credits</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control" @bind-Value="newModule.Credits" />
                    <ValidationMessage For="@(() => newModule.Credits)" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@newModule.Level" class="col-sm-3 col-form-label">Level</label>
                <div class="col-sm-9 mt-2">
                    <Web.Components.InputSelectEnum class="form-select" @bind-Value="newModule.Level"></Web.Components.InputSelectEnum>
                    <ValidationMessage For="@(() => newModule.Level)" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@newModule.Grade" class="col-sm-3 col-form-label">Grade</label>
                <div class="col-sm-9">
                    <Web.Components.InputSelectEnum class="form-select" @bind-Value="newModule.Grade"></Web.Components.InputSelectEnum>
                    <ValidationMessage For="@(() => newModule.Grade)" />
                </div>
            </div>

            <div class="form-check mb-3">
                <InputCheckbox @bind-Value="newModule.Compulsory" class="form-check-input"></InputCheckbox>
                <label class="form-check-label" for="@newModule.Compulsory">Module is compulsory</label>
            </div>

            <button type="submit" class="btn btn-theme">Add</button>

        </EditForm>
    </div>
</div>

@code {

    private Module newModule = new Module();
    private EditContext? editContext;

    [Parameter]
    public Action<Module> OnAddModule { get; set; }

    protected override void OnInitialized()
    {
        editContext = new EditContext(newModule);
        editContext.SetFieldCssClassProvider(new BootstrapFieldCssClassProvider());
    }

    private void HandleValidSubmit()
    {
        OnAddModule.Invoke(newModule);
    }
}