@using DegreeClassEstimator.Model

<div>
    <div id="result" class="row">
        <div class="col-md-12">
            <div class="card-group">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title strong">Initial classification</h5>
                        <p class="card-text">Your weighted total credits is <span class="strong">@Degree.DegreeWeightedCredits</span>, giving an initial classification of - 
                            <br/><span class="strong">@Degree.InitialClass.GetEnumDescription()</span>
                        </p>

                        <div class="accordion" id="accordion-initial-thresholds">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="accordion-initial-thresholds-header">
                                    <button class="accordion-button accordion-thresholds-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#initial-thresholds" aria-expanded="false" aria-controls="initial-thresholds">
                                        Thresholds
                                    </button>
                                </h3>
                                <div id="initial-thresholds" class="accordion-collapse collapse" aria-labelledby="accordion-initial-thresholds-header" data-bs-parent="#accordion-initial-thresholds">
                                    <div class="accordion-body thresholds-accordion">
                                        <table class="table table-sm thresholds-table mt-2">
                                            <tr>
                                                <td class="table-60">@HonoursClass.First.GetEnumDescription()</td>
                                                <td class="table-40">@Degree.InitialClassThresholds.FirstUpperBound or less</td>
                                            </tr>
                                            <tr>
                                                <td>@HonoursClass.UpperSecond.GetEnumDescription()</td>
                                                <td>@(Degree.InitialClassThresholds.FirstUpperBound + 1) to @Degree.InitialClassThresholds.UpperSecondUpperBound</td>
                                            </tr>
                                            <tr>
                                                <td>@HonoursClass.LowerSecond.GetEnumDescription()</td>
                                                <td>@(Degree.InitialClassThresholds.UpperSecondUpperBound + 1) to @Degree.InitialClassThresholds.LowerSecondUpperBound</td>
                                            </tr>
                                            <tr>
                                                <td>@HonoursClass.Third.GetEnumDescription()</td>
                                                <td>@(Degree.InitialClassThresholds.LowerSecondUpperBound + 1) to @Degree.InitialClassThresholds.ThirdUpperBound</td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title strong">Quality assurance</h5>
                        <p>Your best 60 credits at Level 3 (weighted total <span class="bold-message">@Degree.QualityAssuranceWeightedCredits</span>) indicate a QA class of - 
                            <br/><span class="strong">@Degree.QualityAssuranceClass.GetEnumDescription()</span>
                        </p>

                        <div class="accordion" id="accordion-qa-thresholds">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="accordion-qa-thresholds-header">
                                    <button class="accordion-button accordion-thresholds-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qa-thresholds" aria-expanded="false" aria-controls="qa-thresholds">
                                        Thresholds
                                    </button>
                                </h3>
                                <div id="qa-thresholds" class="accordion-collapse collapse" aria-labelledby="accordion-qa-thresholds-header" data-bs-parent="#accordion-qa-thresholds">
                                    <div class="accordion-body thresholds-accordion">

                                        <table class="table table-sm thresholds-table mt-2">
                                            <tr>
                                                <td class="table-60">@HonoursClass.First.GetEnumDescription()</td>
                                                <td class="table-40">@Constants.QAClassThresholds.FirstUpperBound or less</td>
                                            </tr>
                                            <tr>
                                                <td>@HonoursClass.UpperSecond.GetEnumDescription()</td>
                                                <td>@(Constants.QAClassThresholds.FirstUpperBound + 1) to @Constants.QAClassThresholds.UpperSecondUpperBound</td>
                                            </tr>
                                            <tr>
                                                <td>@HonoursClass.LowerSecond.GetEnumDescription()</td>
                                                <td>@(Constants.QAClassThresholds.UpperSecondUpperBound + 1) to @Constants.QAClassThresholds.LowerSecondUpperBound</td>
                                            </tr>
                                            <tr>
                                                <td>@HonoursClass.Third.GetEnumDescription()</td>
                                                <td>@(Constants.QAClassThresholds.LowerSecondUpperBound + 1) to @Constants.QAClassThresholds.ThirdUpperBound</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title strong">Final classification</h5>
                        @{
                            string compare = "";
                            if ((int)Degree.InitialClass == (int)Degree.QualityAssuranceClass) { compare = "matches"; }
                            if ((int)Degree.InitialClass < (int)Degree.QualityAssuranceClass) { compare = "exceeds"; }
                            if ((int)Degree.InitialClass > (int)Degree.QualityAssuranceClass) { compare = "is less than"; }
                        }
                        <p class="card-text">The initial class @compare the QA class, giving a final estimate of -</p>
                        <br/>
                        <div class="alert alert-sm btn-theme" role="alert">
                            <h5 class="strong">@Degree.FinalClass.GetEnumDescription()</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public Degree? Degree { get; set; }

}