@using HonoursClassEstimator.Model

<div class="bg-light section-container">
    <div>
        <h4 class="heading">Add module</h4>
    </div>

    <EditForm Model="@newModule" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="form-group form-group-sm col-md-12">
                <div class="row">
                    <label for="txtDescription" class="col-md-3 col-form-label">Code: </label>
                    <div class="col-md-9">
                        <input @bind="newModule.Description" class="form-control" id="txtDescription" placeholder="e.g. S104" type="text" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm col-md-12">
                <div class="row">
                    <label for="txtPoints" class="col-md-3 col-form-label">Points: </label>
                    <div class="col-md-9">
                        <input @bind="newModule.Points" class="form-control" id="txtPoints" placeholder="Points" type="number" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm col-md-12">
                <div class="row">
                    <label for="selectLevel" class="col-md-3 col-form-label">Level: </label>
                    <div class="col-md-9">
                        <select @bind="newModule.Level" class="form-control" id="selectLevel">
                            @{
                                string[] levels = Enum.GetNames(typeof(Level));
                                foreach (string level in levels)
                                {
                                    <option>@level</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm col-md-12">
                <div class="row">
                    <label for="selectGrade" class="col-md-3 col-form-label">Grade: </label>
                    <div class="col-md-9">
                        <select @bind="newModule.Grade" class="form-control" id="selectGrade">
                            @{
                                string[] gradeNames = Enum.GetNames(typeof(Grade));
                                foreach (string gradeName in gradeNames)
                                {
                                    var gradeDescription = ((Grade)Enum.Parse(typeof(Grade), gradeName)).GetEnumDescription();
                                    <option value="@gradeName">@gradeDescription</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm col-md-12">
                <div class="row">
                    <label for="selectGrade" class="col-md-3 col-form-label">Required: </label>
                    <div class="col-md-9">
                        <input type="checkbox" id="chkCompulsary" @bind="newModule.Compulsary" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="add-module-submit">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-info mb-3">
                    <span class="oi oi-circle-check"></span> Add
                </button>
            </div>
        </div>

    </EditForm>
</div>

@code {

    Module newModule = new Module();

    [Parameter]
    public Action<Module> OnAddModule { get; set; }

    private void HandleValidSubmit()
    {
        OnAddModule.Invoke(newModule);
    }

}
